@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap");
.explore__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #323f4b;
}

.loading--item {
  margin-top: 14px;
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  border: 5px solid #003bf5;
  border-top: 5px solid transparent;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.explore__show--item {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  gap: 4%;
  width: 1262px;
  max-width: 100%;
}

.btn {
  border-radius: 12px;
  width: 619px;
  height: 206px;
  background-color: #ffffff;
  padding: 25px;
  font-family: "Manrope", sans-serif;
  max-width: 100%;
}
.btn:hover {
  border: 1px solid rgb(209, 209, 209);
}
.btn .btn__head {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.btn .btn__head--avatar {
  background: linear-gradient(to right, #003bf5, #002985);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
}
.btn .btn__head--title {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
.btn .btn__head--author {
  color: #616e7c;
  font-size: 12.8px;
  font-weight: 500;
  margin-top: 4px;
  text-align: left;
}
.btn .btn__foot p {
  margin-top: 12px;
  max-width: 569px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: #52606d;
}
.btn .btn__foot--gendes {
  margin-top: 24px;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  font-size: 12.8px;
  font-weight: 500;
  color: #52606d;
}

.show_btn {
  margin: 12px 0 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #ffffff;
  height: 50px;
  width: 155px;
  -moz-column-gap: 12px;
       column-gap: 12px;
  border-radius: 10px;
  font-weight: 500;
}
.show_btn .chevron--down {
  width: 16px;
  height: 16px;
}
.show_btn:hover {
  color: #0532c4;
}
.show_btn .loading--show {
  margin-top: 14px;
  width: 16px;
  height: 16px;
  border-radius: 100rem;
  border: 1.6px solid #003bf5;
  border-top: 1.6px solid transparent;
  animation: spin 1s infinite linear;
  margin-top: unset;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1310px) {
  .explore__title {
    margin-top: -50px;
  }
  .explore__show--item {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .btn {
    width: 100%;
    height: 180px;
  }
  .btn .btn__foot p {
    max-width: 720px;
  }
  .show_btn .loading--show {
    margin-top: 14px;
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    border: 1px solid #003bf5;
    border-top: 1px solid transparent;
    animation: spin 1s infinite linear;
    margin-top: unset;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
@media screen and (max-width: 767px) {
  .btn .btn__head--title {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
  .btn .btn__head--author {
    font-size: 11.8px;
    font-weight: 500;
    margin-top: 2px;
    text-align: left;
  }
}/*# sourceMappingURL=ExploreDAO.css.map */