.dao__header {
    width: 1833px;
    max-width: 100%;
    height: 96px;
    background: linear-gradient(rgb(245, 247, 250) 0%, rgba(245, 247, 250, 0) 100%);
    backdrop-filter: blur(24px);
    font-family: "Manrope", sans-serif;
    position: fixed;
    top: 0;
    .dao__top {
        width: 1680px;
        height: 100%;
        margin: 0 auto;
        padding: 24px 80px;
        max-width: calc(100vw - 160px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn__menu {
            display: none;
        }
        &--left {
            display: flex;
            align-items: center;
            column-gap: 48px;
            .menu__user {
                width: 196px;
                display: flex;
                column-gap: 12px;
                align-items: center;
                cursor: pointer;
                &--author {
                    background: linear-gradient(to right, #003bf5, #002985);
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    border-radius: 50%;
                }
                &--title {
                    font-weight: 700;
                    max-width: 88px;
                    height: 24px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 4px 0;
                }
            }
            .nav {
                .menu {
                    padding: 0;
                    display: flex;
                    list-style: none;
                    column-gap: 12px;
                    li {
                        width: 116px;
                        height: 48px;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        a {
                            display: flex;
                            align-items: center;
                            text-align: center;
                            width: 100%;
                            text-decoration: none;
                            color: #52606d;
                            font-weight: 700;
                            &:active {
                                color: #0031ad;
                            }
                            span {
                                margin: 0 auto;
                                display: inline-block;
                            }
                        }
                        a.selected {
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            color: #0031ad;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }
        &--right {
            display: flex;
            align-self: center;
            column-gap: 16px;
            .btn-give-feedback,
            .btn-connect-wallet {
                display: flex;
                align-items: center;
                column-gap: 12px;
                background-color: #ffffff;
                padding: 12px 16px;
                border-radius: 12px;
                span {
                    color: #52606d;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: center;
                }
                &:hover {
                    background-color: #e4e7eb;
                    span {
                        color: #323f4b;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 80.3125em) {
    .dao__header {
        display: none;
    }
    .dao__ltePC {
        width: 1833px;
        max-width: 100%;
        height: 96px;
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        padding: 12px 24px;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(rgb(245, 247, 250) 0%, rgba(245, 247, 250, 0) 100%);
        backdrop-filter: blur(24px);
        font-family: "Manrope", sans-serif;
        .menu {
            height: 48px;
            background-color: #fff;
            padding: 12px 16px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            border-radius: 12px;
            .strike-span {
                span:nth-child(1) {
                    display: block;
                    width: 20px;
                    height: 2px;
                    background-color: #000;
                }
                span:nth-child(2) {
                    margin-top: 5px;
                    display: block;
                    width: 12px;
                    height: 2px;
                    background-color: #000;
                }
            }
            .menu-text {
                color: #323f4b;
                font-size: 16.2944px;
                font-weight: 700;
                line-height: 22.9416px;
            }
            &:hover {
                background-color: #d0d0d0;
            }
        }
        .user {
            width: 405px;
            max-width: 100%;
            .menu__user {
                display: flex;
                align-items: center;
                flex-direction: column;
                row-gap: 4px;
                cursor: pointer;
                &--author {
                    background: linear-gradient(to right, #003bf5, #002985);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    border-radius: 50%;
                }
                &--title {
                    font-size: 12.8px;
                    font-weight: 700;
                    line-height: 19.2px;
                    color: #323f4b;
                }
            }
        }
        .header-btn {
            .btn-connect-wallet {
                display: flex;
                align-items: center;
                column-gap: 12px;
                background-color: #ffffff;
                padding: 12px 16px;
                border-radius: 12px;
                span {
                    color: #52606d;
                    font-weight: 700;
                    line-height: 24px;
                    text-align: center;
                }
                &:hover {
                    background-color: #e4e7eb;
                    span {
                        color: #323f4b;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 49.6875em) {
    .dao__ltePC {
        .menu {
            .menu-text {
                display: none;
            }
        }
        .user {
            .menu__user {
                &--title {
                    display: none;
                }
            }
        }
        .header-btn {
            .btn-connect-wallet {
                // padding: 4px 6px;
                span {
                    display: none;
                }
                .fa-user {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

// Mobie: width < 740
// tablet: width >= 740 and width < 1024
// pc: width >= 1024
