@import "../../../assets/variable";
.container {
    padding: 40px 0;
    min-height: 100vh;
    margin-top: 96px;
    .card {
        margin: 0 auto;
        width: 100%;
        max-width: 1003px;
        background-color: #fff;
        padding: 96px 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 12px;
        .card__img {
            width: 400px;
            height: 225px;
            background: linear-gradient(19deg, rgba(49, 100, 250, 1) 30%, rgba(125, 175, 205, 1) 77%);
        }
        .card__title {
            margin-top: 32px;
            font-size: clamp(1.5773rem, 1.4806rem + 0.4124vw, 1.953125rem);
            color: #323f4b;
            font-weight: 700;
            line-height: 37.5px;
        }
        .card__desc {
            margin-top: 12px;
            font-size: clamp(1.05904375rem, 1.0099rem + 0.2096vw, 1.25rem);
            color: #616e7c;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            width: 65%;
            a {
                text-decoration: none;
                color: $primaryColor;
            }
        }
        .card__btn {
            padding: 12px 16px;
            margin-top: 32px;
            background-color: $primaryColor;
            color: #ffffff;
            font-weight: 700;
            line-height: 24px;
            border-radius: 12px;
            .Toastify {
                .Toastify__toast-container {
                    width: auto;
                    .Toastify__close-button {
                        display: none;
                    }
                }
                .Toastify__toast-icon svg {
                    fill: #52606d;
                }
            }
        }
    }
}

@media screen and (max-width: 1023.98px) {
    .container {
        margin-top: 0;
        width: 100%;
        padding: 40px 24px;
        .card {
            margin: unset;
            width: 100%;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .container {
        margin-top: 0;
        width: 100%;
        padding: 23px 15px;
        .card {
            margin: unset;
            width: 100%;
            padding: 32px 24px;
            .card__img {
                max-width: 295px;
                max-height: 165px;
            }
            .card__title {
                font-size: 26.7517px;
                line-height: 32.102px;
            }
            .card__desc {
                font-size: 17.9605px;
                line-height: 26.9408px;
            }
        }
    }
}
