@import "../../../colorMain.scss";

@mixin bottom_head_desc {
    h2 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    span {
        font-size: 14px;
        line-height: 1.5;
        color: #898888;
    }
}

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    font-family: "Manrope", sans-serif;
    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.85);
    }
    .modal__content {
        position: relative;
        z-index: 10;
        width: 100%;
        background-color: #fafafa;
        border-radius: 12px;
        width: 482px;
        max-height: 500px;
    }
    .modal__title {
        .modal__title--left {
            span {
                font-size: 14px;
                color: #bfbebe;
            }
        }
    }
    .deposit-funds__bottom {
        padding: 24px;
        .section__blockchain {
            @include bottom_head_desc();
            .ethereum__btn {
                margin-top: 12px;
                padding: 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #ebebeb;
                width: 100%;
                height: 48px;
                border-radius: 12px;
                .logo {
                    display: flex;
                    column-gap: 8px;
                }
                .connect-btn {
                    font-weight: 600;
                    color: #003bf5;
                }
            }
        }
        .section__dao-treasury {
            margin-top: 30px;
            @include bottom_head_desc();
            .dao-treasury__btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #ebebeb;
                margin-top: 16px;
                height: 48px;
                padding: 8px;
                border: 2px solid #bfbebe;
                border-radius: 12px;
                .info {
                    font-weight: normal;
                    color: #575353;
                }
                .btn__list {
                    display: flex;
                    column-gap: 6px;
                    &--toggle {
                        max-width: 45px;
                        border-radius: 8px;
                        padding: 6px 10px;
                        background-color: #fff;
                        span {
                            color: #000;
                            font-size: 14px;
                        }
                        &:hover {
                            background-color: #ebebeb;
                        }
                    }
                    &--copy,
                    &--share {
                        width: 32px;
                        height: 32px;
                        border-radius: 8px;
                        background-color: #fff;
                        &:hover {
                            background-color: #ebebeb;
                        }
                    }
                }
            }
        }
        .bottom__list--btn {
            margin-top: 30px;
            display: flex;
            align-items: center;
            column-gap: 12px;
            .btn-view-all {
                width: 165px;
                border-radius: 12px;
                background-color: #003bf5;
                color: #fff;
                padding: 12px 16px;
                font-weight: bold;
            }
            .btn-cancel {
                width: 86px;
                background-color: #eeeeee;
                border-radius: 8px;
                padding: 12px 16px;
                color: #575353;
                font-weight: bold;

                &:hover {
                    background-color: #e4e7eb;
                }
            }
        }
    }
}
.show-modal {
    visibility: unset;
    opacity: unset;
}
