$hoverColor: #0031ad;
$primaryColor: #3164fa;

@mixin cardButtonDashboard {
    background-color: #ffffff;
    width: 619px;
    max-width: 100%;
    border: 1px;
    padding: 49px;
    border: 1px solid #e4e7eb;
    border-radius: 12px;
    text-align: center;
    .card__img {
        margin: 0 auto;
        width: 400px;
        height: 225px;
        background: linear-gradient(19deg, rgba(49, 100, 250, 1) 30%, rgba(125, 175, 205, 1) 77%);
    }
    .card__title {
        margin-top: 24px;
        color: #323f4b;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
    }
    .card__desc {
        color: #616e7c;
        font-weight: 600;
        line-height: 24px;
        margin-top: 12px;
        a {
            text-decoration: none;
            color: $primaryColor;
        }
    }
    .card__btn {
        padding: 12px 16px;
        margin-top: 24px;
        background-color: $primaryColor;
        color: #ffffff;
        font-weight: 700;
        line-height: 24px;
        border-radius: 12px;
    }
}

.dashboard__container {
    width: 1520px;
    max-width: 100%;
    margin: 96px auto 0;
    padding: 24px 129px 0;
    font-family: "Manrope", sans-serif;

    .dashboard__banner {
        border: 1px solid #e4e7eb;
        width: 1261px;
        max-width: 100%;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: rgba(31, 41, 51, 0.04) 0px 4px 8px, rgba(31, 41, 51, 0.06) 0px 0px 2px,
            rgba(31, 41, 51, 0.04) 0px 0px 1px;
        padding: 49px;
        &--top {
            display: flex;
            justify-content: space-between;
            .banner__content {
                width: 969px;
                // height: 195px;
                .content__title {
                    font-size: 39.0625px;
                    font-weight: 700;
                    line-height: 46.875px;
                }
                .content__author {
                    color: #616e7c;
                    font-weight: 600;
                    line-height: 24px;
                    margin-top: 4px;
                }
                .content__link {
                    max-width: 100%;
                    display: inline-flex;
                    align-items: center;
                    column-gap: 12px;
                    margin-top: 12px;
                    text-decoration: none;
                    color: $primaryColor;
                    font-weight: 700;
                    line-height: 24px;
                    cursor: pointer;
                    span {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &:hover {
                        color: $hoverColor;
                    }
                }
                .content__description {
                    margin-top: 12px;
                    p {
                        // hiển thị dấu 3 chấm tại hàng thứ 3
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .show-para {
                        display: block;
                    }
                    a {
                        color: $primaryColor;
                        cursor: pointer;
                        span {
                            font-weight: 700;
                            line-height: 24px;
                        }
                        &:hover {
                            color: $hoverColor;
                        }
                    }
                }
            }
            .banner__right {
                width: 194px;
                height: 195px;
                padding: 42px 0 41px 81px;
                .banner__avatar {
                    width: 112px;
                    height: 112px;
                    background: linear-gradient(to right, #003bf5, #002985);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    border-radius: 50%;
                    span {
                        font-size: 25.008px;
                        font-weight: 500;
                        line-height: 30.0096px;
                    }
                }
            }
        }

        &--bottom {
            .content__foot {
                display: flex;
                align-self: center;
                justify-content: space-between;
                .content__gendes {
                    display: flex;
                    align-items: center;
                    column-gap: 24px;
                    color: #52606d;
                    font-size: 12.8px;
                    font-weight: 500;
                    line-height: 19.2px;
                }
                .content__text {
                    display: flex;
                    align-items: center;
                    column-gap: 24px;
                    .btn-all-link {
                        display: none;
                    }
                    .text__link {
                        color: $primaryColor;
                        font-weight: 700;
                    }
                    .star {
                        padding: 16px;
                        background-color: #e4e7eb;
                        border-radius: 8px;
                        cursor: pointer;
                    }
                    .Toastify {
                        .Toastify__toast-container {
                            width: auto;
                            .Toastify__close-button {
                                display: none;
                            }
                        }
                        .Toastify__toast-icon svg {
                            fill: #52606d;
                        }
                    }
                }
            }
        }
    }

    .dashboard__middle {
        margin-top: 32px;
        display: flex;
        align-items: center;
        column-gap: 24px;
        &--left {
            @include cardButtonDashboard();
            .card__btn {
                &:hover {
                    background-color: $hoverColor;
                }
            }
        }
        &--right {
            @include cardButtonDashboard();
            .card__btn {
                background-color: #e4e7eb;
                color: #323f4b;
                &:hover {
                    background-color: #c1cad1;
                }
            }
        }
    }

    .dashboard__bottom {
        margin-top: 32px;
        display: flex;
        column-gap: 24px;

        &--left {
            background-color: #ffffff;
            border-radius: 12px;
            width: 412px;
            height: 200px;
            padding: 25px;
            .member--top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icon {
                    width: 40px;
                    height: 40px;
                    padding: 12px;
                    border-radius: 12px;
                    color: $primaryColor;
                    background-color: #e4e7eb;
                }
                .member__btn {
                    background-color: $primaryColor;
                    color: #ffffff;
                    padding: 8px 16px;
                    font-weight: 700;
                    line-height: 24px;
                    border-radius: 12px;
                }
            }
            .member--bottom {
                margin-top: 67px;
                line-height: 24px;
                p {
                    color: #323f4b;
                    font-weight: 700;
                    font-size: 30px;
                }
                span {
                    color: #616e7c;
                }
            }
        }
        &--right {
            .dbr--top {
                width: 404px;
                height: 76px;
                background-color: #ffffff;
                padding: 28px 26px;
                border: 1px solid #e4e7eb;
                border-radius: 12px;
                font-weight: 700;
                cursor: pointer;
                display: flex;
                align-self: center;
                justify-content: space-between;
                .address {
                    color: #616e7c;
                }
                &:hover {
                    color: $hoverColor;
                    .address {
                        color: $hoverColor;
                    }
                }
            }
            .dbr--btn {
                margin-top: 16px;
                background-color: #ffffff;

                width: 111px;
                height: 48px;
                padding: 16px;
                border-radius: 12px;
                color: #616e7c;
                font-weight: 700;
                a {
                    display: flex;
                    column-gap: 6px;
                    align-items: center;
                    text-decoration: none;
                    color: $primaryColor;
                }
                &:hover {
                    color: #323f4b;
                    background-color: #e4e7eb;
                }
            }
        }
    }
}

@media screen and (max-width: 1285px) {
    .dashboard__container {
        position: unset;
        padding: 24px;
        margin: 0 auto;
        .dashboard__banner {
            width: 100%;
            padding: 24px;
            &--top {
                .banner__content {
                    width: 1095px;
                    .content__title {
                        font-size: 36.9422px;
                        line-height: 44.3307px;
                    }
                    .content__author {
                        margin-top: 2px;
                    }
                    .content__link {
                        margin-top: 12px;
                        line-height: 24px;
                    }
                    .content__description {
                        margin-top: 12px;
                        p {
                            font-size: 15.5773px;
                            line-height: 23.366px;
                            color: #52606d;
                        }
                        a {
                            span {
                                font-size: 15.5773px;
                                line-height: 23.366px;
                            }
                        }
                    }
                }
                .banner__right {
                    width: 194px;
                    height: 189px;
                    padding: 0 0 108px 113px;
                    .banner__avatar {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
            &--bottom {
                margin-top: 24px;
                .content__foot {
                    .content__text {
                        column-gap: 12px;
                        .text__link {
                            display: none;
                        }
                        .btn-all-link {
                            display: block;
                            padding: 16px;
                            border-radius: 8px;
                            color: #52606d;
                            background-color: #e4e7eb;
                            width: 121.33px;
                            height: 48px;
                            .btn__content {
                                margin-right: 8px;
                            }
                            &:focus {
                                border: 1px solid $primaryColor;
                            }
                        }
                    }
                }
            }
        }
        .dashboard__middle {
            padding: 16px;
            flex-direction: column;
            row-gap: 16px;
            &--left,
            &--right {
                width: 100%;
                // height: 480px;
                padding: 48px;
                .card__title {
                    font-size: 22px;
                    line-height: 26.6px;
                }
                .card__desc {
                    line-height: 22px;
                    font-size: 14.5px;
                }
            }
        }
        .dashboard__bottom {
            flex-direction: column;
            &--left {
                width: 100%;
            }
            &--right {
                margin-top: 12px;
                .dbr--top {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 49.6875em) {
    .dashboard__container {
        padding: 0;
        .dashboard__banner {
            border-radius: 0;
            &--top {
                .banner__content {
                    width: 1095px;
                    .content__title {
                        font-size: 36.9422px;
                        line-height: 44.3307px;
                    }
                    .content__author {
                        margin-top: 2px;
                    }
                    .content__link {
                        margin-top: 12px;
                        line-height: 24px;
                    }
                    .content__description {
                        margin-top: 12px;
                        p {
                            font-size: 14.699px;
                            line-height: 22.0485px;
                            color: #52606d;
                        }
                        a {
                            span {
                                font-size: 14.699px;
                                line-height: 22.0485px;
                            }
                        }
                    }
                }
                .banner__right {
                    display: none;
                }
            }
            &--bottom {
                margin-top: 24px;
                .content__foot {
                    flex-direction: column;
                    row-gap: 24px;
                    .content__text {
                        justify-content: space-between;
                    }
                }
            }
        }
        .dashboard__middle {
            margin-top: 0;
            row-gap: 40px;
            &--left,
            &--right {
                padding: 24px;
                .card__img {
                    width: 295px;
                    height: 165px;
                }
                .card__title {
                    font-size: 21.8516px;
                    line-height: 26.2219px;
                }
                .card__desc {
                    line-height: 18.0942px;
                    font-size: 12.0628px;
                }
                .card__btn {
                    width: 100%;
                }
            }
        }
        .dashboard__bottom {
            flex-direction: column;
            &--left {
                width: 100%;
            }
            &--right {
                margin-top: 12px;
                .dbr--top {
                    width: 100%;
                }
            }
        }
    }
}
