@import "../../../assets/variable";

@mixin dt_dd {
    display: flex;
    align-self: center;
    justify-content: space-between;
    line-height: 24px;
    dt {
        color: #323f4b;
        font-weight: 700;
    }
    dd {
        width: 487px;
        max-width: 100%;
        color: #52606d;
        font-weight: 500;
    }
}

.container {
    margin-top: 96px;
    min-height: 100vh;
    font-family: "Manrope", sans-serif;
    .content {
        height: 100%;
        width: 1520px;
        margin: 0 auto;
        padding: 40px 129px 0;
        max-width: 100%;
        &--top {
            background-color: #ffffff;
            box-shadow: rgba(31, 41, 51, 0.04) 0px 4px 8px, rgba(31, 41, 51, 0.06) 0px 0px 2px,
                rgba(31, 41, 51, 0.04) 0px 0px 1px;
            border-radius: 12px;
            padding: 41px;
            .gear {
                display: none;
            }
            h2 {
                color: #323f4b;
                font-size: 39.0625px;
                font-weight: 700;
                line-height: 46.875px;
            }
            span {
                margin-top: 16px;
                color: #52606d;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
            }
        }
        &--bottom {
            width: 744px;
            max-width: calc(100% - 258px);
            height: calc(100% - 246px);
            margin: 32px auto 0;
            padding-top: 64px;
            .net-block {
                background-color: #ffffff;
                border-radius: 12px;
                width: 100%;
                padding: 24px;
                h1 {
                    width: 106px;
                    height: 30px;
                    color: #323f4b;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    display: inline-block;
                }
                span {
                    display: inline-block;
                    background-color: #a4f9fb;
                    padding: 2px 4px;
                    border-radius: 4px;
                    color: #09497d;
                    font-size: 12.8px;
                    font-weight: 700;
                    line-height: 19.2px;
                    margin-left: 16px;
                }
                .table__def {
                    margin-top: 24px;
                    .def_net {
                        @include dt_dd();
                    }
                    .def_blockchain {
                        margin-top: 16px;
                        @include dt_dd();
                    }
                }
            }
            .DAO-details {
                margin-top: 40px;
                padding: 24px;
                background-color: #ffffff;
                border-radius: 12px;
                h1 {
                    height: 30px;
                    span {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
                dl {
                    margin-top: 24px;
                    .details--logo {
                        @include dt_dd;
                        .details--author {
                            background: linear-gradient(to right, #003bf5, #002985);
                            width: 22px;
                            height: 22px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #ffffff;
                            border-radius: 50%;
                            font-size: 10px;
                        }
                    }
                    .details--name {
                        @include dt_dd();
                    }
                    .details--ens {
                        @include dt_dd();
                    }
                    .details--links {
                        @include dt_dd();
                        dd {
                            a {
                                color: $primaryColor;
                                font-weight: 700;
                                line-height: 24px;
                                text-decoration: none;
                            }
                            i {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            .section__community {
                margin-top: 40px;
                padding: 24px;
                background-color: #ffffff;
                border-radius: 12px;
                h1 {
                    color: #323f4b;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                }
                dl {
                    margin-top: 24px;
                    .eligible-voters {
                        @include dt_dd();
                    }
                    .members {
                        margin-top: 16px;
                        @include dt_dd();
                        dd a {
                            text-decoration: none;
                            color: $primaryColor;
                            font-weight: 700;
                        }
                    }
                }
            }
            .section__governance {
                margin-top: 40px;
                padding: 24px;
                background-color: #ffffff;
                border-radius: 12px;
                h1 {
                    color: #323f4b;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                }
                dl {
                    margin-top: 24px;
                    .minimum-approval {
                        @include dt_dd();
                    }
                    .proposal-creation {
                        margin-top: 16px;
                        @include dt_dd();
                    }
                }
            }
            .btn-edit {
                margin-top: 64px;
                padding: 12px 16px;
                background-color: $primaryColor;
                color: #ffffff;
                border-radius: 12px;
                span:nth-child(1) {
                    margin-right: 8px;
                }
                span {
                    font-weight: 700;
                    line-height: 24px;
                }
            }
            .note {
                margin-top: 16px;
                display: flex;
                align-items: center;
                column-gap: 8px;
                i {
                    color: #1eadd8;
                }
                span {
                    color: #09497d;
                    font-size: 12.8px;
                    font-weight: 700;
                    line-height: 19.2px;
                }
            }
        }
    }
}

@media screen and (max-width: 80.3125em) {
    .container {
        margin-top: 0;
        padding: 24px;
        .content {
            padding: 0;
            &--top {
                .gear {
                    margin-bottom: 24px;
                    color: #52606d;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    column-gap: 8px;
                    .gear-text {
                        font-weight: 500;
                        margin: 0;
                        line-height: 24px;
                    }
                }
                h2 {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 63.4375em) {
    .container .content {
        &--bottom {
            .net-block {
                .table__def {
                    .def_net {
                        display: block;
                    }
                    .def_blockchain {
                        display: block;
                    }
                }
            }
            .DAO-details {
                dl {
                    .details--logo {
                        display: block;
                    }
                    .details--name {
                        display: block;
                    }
                    .details--ens {
                        display: block;
                    }
                    .details--links {
                        display: block;
                    }
                }
            }
            .section__community {
                dl {
                    .eligible-voters {
                        display: block;
                    }
                    .members {
                        display: block;
                    }
                }
            }
            .section__governance {
                dl {
                    .minimum-approval {
                        display: block;
                    }
                    .proposal-creation {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 49.6875em) {
    .container {
        .content {
            &--bottom {
                max-width: 100%;
                margin: 0;
                width: 100%;
            }
        }
    }
}
